<div class="tarjeta-mascota">
  <div class="galeria">
    <div class="imagen-principal">
      <!-- <img [src]="mascota.imagenes.urlImagen || 'assets/img/pexels-cdomingues10-731022.jpg'" alt="Imagen principal"> -->
    </div>
    
  </div>

  <div class="info-detalle">
    <div class="info-principal">
      <h1>{{ mascota.nombre }}</h1>
      <p class="subtitulo">{{ mascota.especie }} | {{ mascota.edad }} años | {{ mascota.raza }}</p>
      <p class="descripcion">{{ mascota.descripcion }}</p>

      <div class="info-extra">
        <div>
          <h3>Características</h3>
          <p>{{ mascota.caracteristicas || 'No especificadas.' }}</p>
        </div>
        <div>
          <h3>Salud</h3>
          <p>{{ mascota.salud || 'No especificada.' }}</p>
        </div>
        <div>
          <h3>Detalles</h3>
          <p>{{ mascota.detalles || 'Sin detalles adicionales.' }}</p>
        </div>
      </div>
    </div>

    <div class="info-lateral">
      <div class="adopcion-box">
        <p>¿Quieres adoptar a {{ mascota.nombre }}?</p>
        @if(estaLogueado())
        {
        <button class="btn-naranja">Contacto</button>
        }@else{
        <button class="btn-naranja" [routerLink]="['/register']">Registrarse</button>
        }
        
      </div>

      <div class="fundacion-box">
        <p><strong>{{ mascota.protectora.nombre }}</strong></p>
        <p>{{ mascota.protectora.direccion }}</p>
        <p>{{ mascota.protectora.email }}</p>
        <button [routerLink]="['/detalle-organizacion', mascota.protectora.id]" class="btn-naranja">Ver {{mascotas.length}} mascotas →</button>
      </div>
    </div>
  </div>
</div>


<div class="tarjeta-mascota">
  <h4>Otras mascotas de la protectora {{ mascota.protectora.nombre }}</h4>
  <div class="row g-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
            @for (mascota of mascotas.slice(-3); track $index) {
            <div class="col">
              <app-mascota-card [mascota]="mascota"/>
            </div>
          

          }
         </div>
</div>
  